@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
    
}
    <td>
        <button type="button" class="btn btn-block btn-default">Default</button>
    </td>